*.csv
dataset/receipt/10373966_10154672076922316_5431786864776899707_n_(3).jpg?1452026219
dataset/receipt/1051450%3Fthumb
dataset/receipt/188_002.jpg?v=1
dataset/receipt/2004.19.52.jpg?itok=spr7zknG
dataset/receipt/2013-03-14_23-08-32_371.jpg?w=286&h=330
dataset/receipt/2014%209:00:39%20AM
dataset/receipt/2160189614_72ede84262_z.jpg?zz=1
dataset/receipt/2194796132_ca5aed375a_z.jpg?zz=1
dataset/receipt/2557878830_f1751380c8_z.jpg?zz=1
dataset/receipt/2574165991_dd02eb6e69_z.jpg?zz=1
dataset/receipt/2576435027_2fda213c34_z.jpg?zz=1
dataset/receipt/26239a3a-5bb6-43cf-8d76-acf3de30abd0-large16x9_receipt.jpg?1463348738225
dataset/receipt/2888411867_037d707cbc.jpg?v=0
dataset/receipt/3205004171_f8e59767c9_z.jpg?zz=1
dataset/receipt/3516384b-1bb4-4022-9f35-b8ad8bf9c410-large16x9_IHOPreceipt_CourtesyRolmanSparkman.JPG?1456853335305
dataset/receipt/3588771967_b7444023c6_z.jpg?zz=1
dataset/receipt/361
dataset/receipt/3762353649_407587f453_z.jpg?zz=1
dataset/receipt/3a47cd6694fbf67f4d5e545bb1a79747.jpg?itok=7Cp4nAmU
dataset/receipt/410_original.jpg?1375204860
dataset/receipt/441185771_7fdfb5e551_z.jpg?zz=1
dataset/receipt/463111543.jpg?v=2&c=IWSAsset&k=2&d=CVlI24O79Mog8LJ3hf0LmqZCFWCZqpVllbFFiI7Y3r1oSurcOuIMXDPCW8YUoEq90
dataset/receipt/5052?$prodimage$
dataset/receipt/556086067_94e3bad443_z.jpg?zz=1
dataset/receipt/5K_JAiWQ8JjbUTaqVBE0XRSgkPXAJVAar3sE4sMIlP0miVCUrn6a4sOlQ9cdpnrCWMc=h900
dataset/receipt/62c5679c41def594f6cc135f589f6230.jpg?itok=VDFjUW7A
dataset/receipt/6634089-Luggage_receipt_Bus_fare_one_way_Kolomna.jpg?version=2
dataset/receipt/6748514_1m.jpg?v=8C9403816C39CD0
dataset/receipt/6a00d8341c5da453ef014e883a4fd0970d-320wi
dataset/receipt/6a00d8345157c669e2017ee898431a970d-300wi
dataset/receipt/6a00d83451b71f69e20162fe33c8dc970d-800wi
dataset/receipt/6a00e54f10a0988834017ee4ed3889970d-500wi
dataset/receipt/6a00e5503e1cbc8833010534be4976970b-120wi
dataset/receipt/6a00e553e551d1883401348596530e970c-500wi
dataset/receipt/6a0133f3fc5805970b0147e088a049970b-120wi
dataset/receipt/7jqoi3cw-980x2000
dataset/receipt/808_1024x1024.jpeg?v=1444492756
dataset/receipt/8112438f-2518-4ed3-9e4e-d6dd6abec1a6-large16x9_IMG_15782.jpg?1464109618598
dataset/receipt/8766507.jpg?size=620x400s
dataset/receipt/90075306.png?w=720#q=Free%20Blank%20Invoice%20Template%20Printable
dataset/receipt/929532?thumb
dataset/receipt/92f7bb84cba6145166b2b9f16ef8c1ef_crop_exact.jpg?w=1500&h=1500&q=85
dataset/receipt/a5644526-111-H%26R%20block%20receipt.jpg?d=1364227549
dataset/receipt/abc_gma_check_jt_121209_wblog1.jpg?__SQUARESPACE_CACHEVERSION=1355078580376
dataset/receipt/Arco_9714_receipt_(2003-10-20).jpg#9714%20669x1860
dataset/receipt/asda_tarvu.gif?w=531&h=1727
dataset/receipt/attachment.php?attachmentid=115818&d=1412509826
dataset/receipt/attachment.php?attachmentid=117361&d=1414975760
dataset/receipt/awful-tips.jpg?resize=740%2C400
dataset/receipt/BB_StoreReceipt.ashx
dataset/receipt/bkr.jpg?w=337&h=480
dataset/receipt/blog_image.lasso?id=426
dataset/receipt/c49d93_47318d28b48e4ee6866ac0f90110e81a.gif_srz_393_471_85_22_0.50_1.20_0.00_gif_srz
dataset/receipt/Chicago-parking-meter-receipt.jpg?ver=1329159484
dataset/receipt/crazy-receipts.jpg?w=700
dataset/receipt/custom-receipt.png?resize=572%2C420
dataset/receipt/D2MIvfKbiPpiJV7PSkeE6Y5gbMzZoqWCkzUsN4qBzTwHnYV9fny3tfh7D0rkC0kZLx7T=h900
dataset/receipt/f?id=4acb9b4000000000004d6037
dataset/receipt/f?id=4acb9b490000000000758330
dataset/receipt/f?id=4aef4d7d000000000095294e
dataset/receipt/file.php?id=21
dataset/receipt/file.php?id=26457&t=1
dataset/receipt/flight-ticket-change20150910-1-638.jpg?cb=1442346755
dataset/receipt/FQ83Q0-zSxkV9FN2Mur1k_mkgv1sOLisNs6cMFp7Mc3TG8pUP5ZdR_TdgfaRTpqTRQ=h640
dataset/receipt/FQ83Q0-zSxkV9FN2Mur1k_mkgv1sOLisNs6cMFp7Mc3TG8pUP5ZdR_TdgfaRTpqTRQ=h900
dataset/receipt/GetImage.aspx?id=58a55a14-f9b2-46fc-9a0f-40f3e85c4aea&num=1
dataset/receipt/GetImage.aspx?r=1179&pid=0e2b35a4-70bf-4e41-87b7-8f2fa59b1d33&dbid=1
dataset/receipt/GetImage.aspx?r=1362&pid=d85812f9-32c4-4ce3-a1d1-c966d9f39741&dbid=1
dataset/receipt/GetImage.aspx?r=9946&pid=65441d82-ab84-47b6-b5d4-1b4d5d16872b&dbid=1
dataset/receipt/grocery-receipt-2.jpg?w=696
dataset/receipt/heb-receipt.gif?w=142
dataset/receipt/hungry-howies-receipt.jpg?resize=400%2C535
dataset/receipt/img-thing?.out=jpg&size=l&tid=1168516
dataset/receipt/img-thing?.out=jpg&size=l&tid=16375908
dataset/receipt/img_0381.jpg?w=560
dataset/receipt/itunes-receipt.png?w=704&h=621
dataset/receipt/JVG0IL
dataset/receipt/korean-receipt-foreigner.jpg?w=450&h=600
dataset/receipt/ladychinkyeyes.jpg?w=598&h=696
dataset/receipt/littlecaesarsbowl_original.jpg?1325716968
dataset/receipt/LL
dataset/receipt/louis-vuitton_147549_top.jpg?cache=1329989554
dataset/receipt/love-struck-coff.jpg?w=644&h=723&crop=1#038;h=1150
dataset/receipt/main.php?g2_view=core.DownloadItem&g2_itemId=23345&g2_serialNumber=5
dataset/receipt/main.php?g2_view=core.DownloadItem&g2_itemId=38442&g2_serialNumber=2
dataset/receipt/meijer-receipt.jpg?w=350
dataset/receipt/mMuAeIsM6zvnxaXaYP8cUovHfdcjzqw0CbevLaFN3SDlDUqIhdqlGaLkfp6L2_n46w=h900
dataset/receipt/multimeter-receipt.jpg?w=500
dataset/receipt/MxyoJ9oK3WaEaAAh9U1jG3RYIwL-jTp2favwLvfrbHanuYbEMHyKLbfQ9NudOm89tA=h900
dataset/receipt/New+Black+Tax+receipt
dataset/receipt/Np1_-0ULEJhCYmTIJLb7Ex1jju29eHu2bU2Dy1yOhGWkAWDVs4Gkqk3MHb9_fctCsDQ=h900
dataset/receipt/nutricates.png?w=610
dataset/receipt/o-ATM-RECEIPT-570.jpg?2
dataset/receipt/o-CVS-RECEIPT-CHING-CHONG-570.jpg?6
dataset/receipt/o-FAMILY-GAY-WAITRESS-570.jpg?5
dataset/receipt/o-JOE-GIBSON-RECEIPT-570.jpg?6
dataset/receipt/o-racist-receipt-570.jpg?w=300&h=268
dataset/receipt/o-RECEIPT-570.jpg?1
dataset/receipt/o-RECEIPT-570.jpg?6
dataset/receipt/o-TONI-CHRISTINA-JENKINS-RACIST-RECEIPT-570.jpg?1
dataset/receipt/o-WAITROSE-RECEIPT-570.jpg?6
dataset/receipt/offensive-message-receipt-grind-coffee-bar-westfield-stratford.jpg?w=500&h=323&l=50&t=50
dataset/receipt/OIP.Mcdb7d458ec76bc202d645696fa1a1362H0
dataset/receipt/old-ebbitt-receipt.jpg?w=610
dataset/receipt/parking_1.jpg?w=1024
dataset/receipt/pictures-029-jpg.jpg#S42450122
dataset/receipt/pizzahut_receipt.jpg?itok=vHNqMJbV
dataset/receipt/pizzico.bmp
dataset/receipt/qb6LusBl4x1-rEJsqKt2J8RW3MROEOA1kQiiqIpWadkeRyshk5PkHGbXhJwNuml8654=h900
dataset/receipt/receipt-book-in-kenya-callumjonesdesigns.jpg?w=300&h=186
dataset/receipt/receipt-la-vaca-azul-el-cortillo-fuerteventura.jpg?w=584
dataset/receipt/receipt.jpg?itok=Y2zd8xGp
dataset/receipt/receipt.JPG?uuid=vq6QCFqnEeKI0MTPZcOtFQ
dataset/receipt/receipt.jpg?w=593&h=261&crop=1
dataset/receipt/receipt.jpg?w=650&h=371&crop=1
dataset/receipt/receipt.png?w=650
dataset/receipt/receipt1.jpg?w=224
dataset/receipt/receipt_0.jpg?itok=jcvAl5GT
dataset/receipt/Receipt_1.jpg?itok=xHizCMwF
dataset/receipt/ReceiptExample.jpg?h=456&&w=500&la=en
dataset/receipt/receipts-.jpg?e3857c
dataset/receipt/Restaurant-server-fired-over-receipt-calling-customer-Fatty.jpg?lg=2
dataset/receipt/rounddown.jpg?w=610
dataset/receipt/rubytuesdaychecktraditionalgratuity.gif?w=580
dataset/receipt/scan
dataset/receipt/story027_thumb%25255B3%25255D.jpg?imgmax=800
dataset/receipt/taxi-fuel-surcharge-_1060.jpg?w=420&h=237
dataset/receipt/taxi-meru-receipt.jpg?resize=700%2C379
dataset/receipt/taxi-receipt1.jpg?w=500
dataset/receipt/thumb.php?src=SmlmZnkgTHViZSAjMTQ2MSBCaWxsIFNFUCAxNyAyMDEyLmpwZw%3D%3D.jpg&wmax=900&hmax=900&nocrop=true&complaints=634721
dataset/receipt/travolta_receipt_tmz101035-525x325.jpg?w=322&h=215
dataset/receipt/uggzs.jpg?1
dataset/receipt/WELFARE-RECEIPT.jpg#receipt%20for%20lobster%20on%20welfare%20card%20273x600
dataset/receipt/western-coal-pay-receipts.jpg?w=660
dataset/receipt/wpid-imag0413.jpg?w=450&h=752
dataset/receipt/Yzh45CAJAtt5sDmMIxab-5Co78JcyM9Zann5zBauXIIKIP2kERxmSWmuBN4zySQ32VY=h900
